<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/mediaqueries.css" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/notcouriersans" type="text/css"/> 
  <title>Skill Bank</title>
</head>
<body>

  <header>
    
    <div class="flex-wrapper">
      <div id="navi">
        <div class="ahead title">
          <h1 class=" bold"><a>Skill Bank</a></h1>
        </div>
        <div class="abody about-body">
          Skill Bank is a simple tool for exchanging skills and learning from eachother. Especially for the DIY and DIT communities.<br><br>
          This is not a place for paid services, but really a place to connect and advance our knowledge collectively.
        </div>

        <div class="ahead create bold"><a>Create a card</a></div>
        <div class="abody">
          <p>Add your request or offer with the following form. You will be updated via the email address you provide.</p>
          <div class="create-card-wrapper">
            <div class="card-create">
                      
              <form class="form" action="" autocomplete="off">
                <div class="left-wrap">
                  <label for="titleInput">Title of your skill request/offer:<br></label>
                  <input type="text" id="titleInput" placeholder="required" required autofocus /><br>
                  <label for="descInput">Describe your skill offer or request:<br></label>
                  <textarea type="text" id="descInput" placeholder="required" autofocus></textarea><br>
                </div>
                <div class="right-wrap">
                  <label for="nameInput">Your name or moniker:<br></label>
                  <input type="text" id="nameInput" placeholder="required"><br>
                  <label for="locationInput">Where:<br></label>
                  <input type="text" id="locationInput" placeholder="where?"><br>

                  <label for="imageInput">Image:<br></label>
                  <div class="imgUpload"><a  id="imageUpload">add an image to your card</a></div>
                  
                  <ul>
                    <li>
                      <input id="r1" type="radio" name="cat" value="fixing">
                      <label for="r1">fixing</label>
                    </li>
                    <li>
                      <input id="r2" type="radio" name="cat" value="music">
                      <label for="r2">music</label>
                    </li>
                    <li>
                      <input id="r3" type="radio" name="cat" value="care">
                      <label for="r3">care</label>
                    </li>
                    <li>
                      <input id="r4" type="radio" name="cat" value="creativity">
                      <label for="r4">creativity</label>
                    </li>
                    <li>
                      <input id="r5" type="radio" name="cat" value="organisation">
                      <label for="r5">organisation</label>
                    </li>
                    <li>
                      <input id="r6" type="radio" name="cat" value="plants">
                      <label for="r6">plants</label>
                    </li>
                    <li>
                      <input id="r7" type="radio" name="cat" value="construction">
                      <label for="r7">construction</label>
                    </li>
                    <li>
                      <input id="r8" type="radio" name="cat" value="language">
                      <label for="r8">language</label>
                    </li>
                    <li>
                      <input id="r9" type="radio" name="cat" value="misc">
                      <label for="r9">misc</label>
                    </li>
                  </ul>
                  <label for="emailInput">Your email address for the follow up of your card:<br></label>
                  <input type="text" id="emailInput" placeholder="required"><br>
                  <label>Is this a request or an offer?<br></label>
                  <ul>
                    <li>
                      <input id="r10" type="radio" name="cardType" value="0">
                      <label for="r10">request</label>
                    </li>
                    <li>
                      <input id="r11" type="radio" name="cardType" value="1">
                      <label for="r11">offer</label>
                    </li>
                  </ul>
                  <input type="button" class="inputButton bold" id="inputButton" value="create a new card +">
                </div>
              </form>

            </div><!-- end .card-create-->
            <div class="card-create-category bold"></div>
          </div><!-- end .card-wrapper-->
        </div><!--end .abody-->
      </div><!--#navi-->
    </div><!-- end flex wrapper-->

  </header>  

  <section id="categories">
    <ul>
      <li class="fixing" data-flag="include"><a href="#" class="bold">fixing</a></li>
      <li class="care" data-flag="include"><a href="#" class="bold">care</a></li>
      <li class="music" data-flag="include"><a href="#" class="bold">music</a></li>
      <li class="creativity" data-flag="include"><a href="#" class="bold">creativity</a></li>
      <li class="orga" data-flag="include"><a href="#" class="bold">organisation</a></li>
      <li class="plants" data-flag="include"><a href="#" class="bold">plants</a></li>
      <li class="construction" data-flag="include"><a href="#" class="bold">construction</a></li>
      <li class="language" data-flag="include"><a href="#" class="bold">language</a></li>
      <li class="misc" data-flag="include"><a href="#" class="bold">misc</a></li>
      <li class="all"><a href="#" class="bold">all</a></li>
    </ul>
  </section>

  <section>
    <div id="main-content">
      
      <div id="left">
        <h2 class="bold">i want to learn</h2>

      </div>

      <div id="right">
        <h2 class="bold">i can offer</h2>
        

        



      </div>

    </div>
  </section>

  <script>
  window.addEventListener("DOMContentLoaded", function(){
    accordize("navi", true);
  });
  </script>


<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>


  <script src="static/scripts/index.js"></script>
</body>
</html>
