*{
    font-family: 'NotCourierSansRegular';
}
body{
    background-color: rgb(30,30,30);
    color:beige;
    font-size: 16px;
    margin:0;
    padding:0;
}
/* fixing: rgb(200,174,219);
music: rgb(26,88,251);
creativity: rgb(212,175,0)
organisation: rgb(127,90,17);
plants: rgb(11,233,5);
language: rgb(107,190,244);
construction: rgb(219,16,1);
misc: rgb(162,63,185);
background: rgb(30,30,30); */
.bold{
    font-family: 'NotCourierSansBold', serif; 
    font-style: normal; 
    font-weight: bold;
}

/* header section */
header{
    
}
.flex-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: flex-end;
}
header h1{
    text-transform: uppercase;
    font-size: 6em;
    margin: 0;
    padding:0;
}
header .title{
    flex:2;
}
header #navi{
    text-transform: uppercase;
    font-size:3em;
    float:right;
    list-style: none;
    padding: 0;
    text-align: right;
    margin:0 0 30px 0;
    flex:1;
}
.card-create{
    background-color: rgb(171, 171, 171);
    color: rgb(30,30,30);
    padding:15px;
    border-radius: 15px;
}
.inputButton{
    padding: 8px 15px 10px 15px;
    margin: 10px;
    color:rgb(30,30,30);
    border-radius: 15px; 
    border: 1px solid rgb(30,30,30);
    background-color: cadetblue;
}
#descInput{

}
input{
    font-size:16px;
    font-style: italic;
    color: grey;
    border-radius: 15px;
    padding:5px;
    margin:5px;
}
form ul{
    margin:0;
    padding:0;
    list-style: none;
    text-align: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.card-create-category{
    padding:10px 15px;
    width: 100px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    transform: rotate(90deg) translate(38px, 25px);
    font-size:1.2em;
    background-color: grey;
    color:rgb(30,30,30);
    text-align: center;
    z-index: -10;
    /* should put a js thing that reads how wide the tab is, and put that value in the translate x */
}

/* row of category buttons */

#categories{ 
    padding:30px;
    border-top: 0.01em solid beige;
    border-bottom: 1px solid beige;
}
#categories ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding:0;
}
#categories li{
    padding: 8px 15px 10px 15px;
    margin: 10px;
    color:rgb(30,30,30);
    border-radius: 15px; 
    border: 1px solid rgb(30,30,30);
}
#categories li a{
    font-size: 1.2em;
    letter-spacing: 0.06em;
    color: rgb(30,30,30);
    text-decoration: none;
}
#categories li:hover{
    border: 1px solid beige;
}
#categories li a:hover{
    color: beige;
}
.fixing {background-color: rgb(200,174,219);}
.music {background-color: rgb(26,88,251);}
.health{background-color: rgb(97,122,215);}
.creativity{ background-color:rgb(212,175,0);}
.orga{ background-color:rgb(127,90,17);}
.plants{ background-color: rgb(11,233,5);}
.language{ background-color:rgb(107,190,244);}
.construction{ background-color:rgb(219,16,1);}
.misc{background-color: rgb(162,63,185);}

#main-content{
    display: flex;
}

#left{
    border-right: 1px solid beige;
    flex: 1;
}
#right{
    flex: 1;
}
h2{
    text-transform: uppercase;
    padding: 0 25px;
    letter-spacing: 1px;
}
.card-wrapper{
    margin: 25px 25px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.card-request, .card-offer{
    background-color: beige;
    color: rgb(30,30,30);
    padding:15px;
    border-radius: 15px;
    width: 650px;
    overflow-wrap: break-word;
}
.title{
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1px;
}
.card-wrapper img{
    margin-top:10px;
    width: 60%;
    border-radius: 15px;
    border: 1px solid rgb(142, 142, 142);
}
.info-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 0 10px 0;
}
.location{
    text-align: right;
}
.card-request-category{
    padding:10px 15px;
    width: auto;
    height: 35px;
    border-radius: 10px 10px 0 0;
    transform-origin:  bottom left;
    transform: rotate(90deg) translate(-55px, 10px);
    font-size:1.2em;
    color:rgb(30,30,30);
    text-align: center;
    z-index: -10;
    /* should put a js thing that reads how wide the tab is, and put that value in the translate x */
}

/* // js random rotate of the cards */



/* // accordion styles */

/* (A) ACCORDION WRAPPER */
.awrap {

  }
  
  /* (B) HEADER TAB */
  /* (B1) TAB ITSELF */
  .ahead {
    position: relative;
    cursor: pointer;
  }
  /* (B2) RIGHT ARROW */
  .ahead:after {
    position: absolute;
    right: 10px;
    transition: transform 0.2s;
  }
  
  /* (C) CONTENT TAB */
  /* (C1) TAB ITSELF - CLOSED BY DEFAULT */
  .abody {
    overflow: hidden;
    transition: all 0.4s ease-out; 
    max-height: 0; 
    height: auto;
    font-size:16px;
    margin-left:150px;
    text-transform: none;
  }
  .about-body{
    font-size:20px;
  }
  /* (C2) OPEN TAB - DOWN ARROW */
  .ahead.open:after {
    transform: rotate(90deg);
  }
  /* (C2) OPEN TAB - SHOW CONTENT */
  .ahead.open + .abody {
    max-height: 600px; 
    padding: 10px;
  }